<div class="container">
    <header>
    		<aside style="float:right">

	Welcome! <%=Employee.find_by_id(session[:current_employee]).name %>
	</aside>
        <div id="logo">
        	<h1><a href="index.html">3S.A.N Groups</a></h1>
        </div>
        <div class="navbar clearall">
            <div class="navbar-inner">
			<ul class="nav">
				<li>	<%= link_to "Home" ,main_main_page_path%></li>
				<% @department.each do |t| %>
					<li>
					<%= link_to t.department_name ,main_message_page_path(:id=>t.id)%>
					</li>
				<% end %>

				<li> <%=link_to "All Employee",main_message_page_path%> </li>
				<li><%= link_to "Add Employee", main_add_url %></li>
			</ul>

		</div>
        </div>
    </header>
    <div class="row-fluid san-wrap clearall">
    	<div class="page-header">
        	<h1>Dashboard</h1>
        </div>

<%= form_for @employee, url: main_add_path do |emp| %>

	<div class="message">
		<%= notice %>

	</div>
	
	<div class="field">
		<%= emp.label :name %>
		<%= emp.text_field :name %>
	</div>

	<div class="field">
		<%= emp.label :phone %>
		<%= emp.phone_field :phone %>
	</div>

	<div class="field">
		<%= emp.label :email %>
		<%= emp.email_field :email %>
	</div>

	<div class="field">
		<%= emp.label :salary %>
		<%= emp.number_field :salary %>
	</div>

	<div class="action" >
		<%= emp.submit %>
	</div>
	
<% end %>

<%= button_to "Back", action: "main_page" %>
</div>
	<footer class="mainfooter">Copyrights &copy; 2013, 3SAN Groups. All Rights Reserved.</footer>
