<%= form_for @employee, url: main_add_path do |emp| %>

	<div class="message">
		<%= notice %>

	</div>
	
	<div class="field">
		<%= emp.label :name %>
		<%= emp.text_field :name %>
	</div>

	<div class="field">
		<%= emp.label :phone %>
		<%= emp.phone_field :phone %>
	</div>

	<div class="field">
		<%= emp.label :email %>
		<%= emp.email_field :email %>
	</div>

	<div class="field">
		<%= emp.label :salary %>
		<%= emp.number_field :salary %>
	</div>

	<div class="action" >
		<%= emp.submit %>
	</div>
	
<% end %>

<%= button_to "Back", action: "main_page" %>